@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin: 0 auto;
  background-color: #E5E5E5;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-submit {
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 35px;
  padding-right: 35px;
  min-width: 160px;
  max-width: 280px;
  height: 48px;
  background: #83B3D3;
  border-radius: 4px;
  text-align: center;
  border: none;
}

.button-reset {
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-left: 35px;
  padding-right: 35px;
  min-width: 160px;
  max-width: 280px;
  height: 23px;
  background-color: transparent;
  border: none;
}

.newsletter-button {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 320px;
  margin: 0;
  padding: 0 35px 0 35px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.hotel-card-button {
  display: flex;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 37px;
  box-sizing: border-box;
  min-width: 120px;
  max-width: 145px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.hotel-card-button-more {
  background: #756257;
}

.hotel-card-button-favorite {
  background: #83B3D3;
}

.current-button {
  background: #7DB54F;
}

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 139px;
  margin-right: 30px;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  min-width: 345px;
  max-width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.navigation-user {
  display: flex;
  max-width: 340px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navigation-button {
  text-transform: uppercase;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.welcome-img-background {
  width: 100%;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #808080;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.main-page-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.main-page-headline {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 600px;
  margin: 0 auto;
}

.main-page-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  max-width: 600px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  width: 400px;
  text-align: center;
}

.advantages-item-and-img {
  display: flex;
  width: 1200px;
}

.advantages-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item-photo {
  display: block;
  width: 800px;
}

.advantages-item-background-cold-blue {
  color: #ffffff;
  background: #83B3D3;
}

.advantages-item-background-transparent-blue {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-background-light-blue {
  background: rgba(131, 179, 211, 0.2);
}

.extra-advantages-item-home {
  background-image: url("../images/icons/index-advantages-icon-home.svg");
  background-repeat: no-repeat;
}

.extra-advantages-item-burger {
  background-image: url("../images/icons/index-advantages-icon-burger.svg");
  background-repeat: no-repeat;
}

.extra-advantages-item-souvenir {
  background-image: url("../images/icons/index-advantages-icon-souvenir.svg");
  background-repeat: no-repeat;
}

.photo {
  background-color: #ffffff;
}

.hotel-search-info {
  width: 100%;
  text-align: center;
}

.hotel-search {
  display: block;
  max-width: 575px;
  height: 60px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #756257;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.newsletter {
  width: 100%;
  text-align: center;
  background-color: #4b7b91;
  background-image: url("../images/index-newsletter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.field {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  height: 60px;
  margin: 0;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  min-width: 107px;
  max-width: 150px;
  margin-left: 72px;
}

.social-list {
  display: flex;
}

.footer-phone-number {
  display: block;
  min-width: 400px;
  max-width: 720px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}

.footer-developer {
  display: block;
  min-width: 115px;
  max-width: 130px;
  margin-right: 72px;
}

  /* Catalog */

.hotels-properties {
  display: flex;
  width: 1200px;
  min-height: 408px;
  flex-direction: column;
  background-color: #1a4649;
  background-image: url("../images/catalog-filters-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-filter {
  display: flex;
  width: 1055px;
  margin: 0 auto 86px auto;
  justify-content: space-between;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  max-width: 750px;
  margin: 35px 0 7px 71px;
}

.breadcrumbs {
  display: flex;
  width: 50%;
  color: #ffffff;
  margin: 0 0 45px 73px;
}

.catalog-filter {
  color: #ffffff;
}

.catalog-filter-list {
  list-style-type: none;
}

.inner-sort-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}
  .select-control {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  height: 48px;
}

.inner-results {
  display: flex;
  max-width: 1057px;
  margin: 0 auto;
  padding: 50px;
}

.inner-sort-text {
  max-width: 370px;
  margin: 0;
  margin-right: 192px;
}

.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel-cards {
  width: 1056px;
  margin: 0 auto;
  padding: 0;
}

.hotel-card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-card-item {
  box-sizing: border-box;
  display: block;
  width: 340px;
  padding: 20px;
  margin: 0;
  margin-right: 18px;
}

.hotel-card-item:nth-child(3n) {
  margin-right: 0;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.hotel-description {
  color: #333333;
  line-height: 23px;
}

.hotel-rating {
  color: #333333;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.cards-show-more {
  display: block;
  max-width: 700px;
  min-width: 620px;
  height: 60px;
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  background: #83B3D3;
  border-radius: 4px;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  border: none;
}

.catalog-pagination {
  display: flex;
  margin: 30px auto 0 auto;
  padding: 0;
  max-width: 1056px;
}

.pagination {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: flex;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background: #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.inner-select-control {
  display: flex;
  margin-left: auto;
}

.inner-page-text {
  margin: auto 51px auto 0;
}

.select-control-pagination {
  width: 160px;
  height: 48px;
  margin-top: auto;
  margin-bottom: auto;
}

.inner-page-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.newsletter-inner {
  background-color: #ffffff;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.newsletter-form {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
}

.newsletter-title-inner {
  color: #000000;
}

.newsletter-text-inner {
  color: #333333;
}
